.dealName,
.dealTicker,
.dealProfit,
.dealProfitInPercent {
  padding-top: 5px;
}

.dealName {
  text-align: left;
  color: #000000;
  font-weight: 600;
}

.dealTicker {
  text-align: left;
  font-size: 14px;
  color: #1e2f29ca;
}

.dealProfit {
  text-align: right;
  font-weight: 600;
}

.dealProfitInPercent {
  text-align: right;
  font-size: 14px;
  color: #1e2f29ca;
}

.negativeProfit {
  color: rgb(217, 33, 33);
  text-shadow: 1px 1px 2px rgb(255, 205, 205);
}

.positiveProfit {
  color: rgb(0, 165, 80);
  text-shadow: 1px 1px 2px rgb(192, 255, 207);
}

.row {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid rgba(39, 39, 39, 0.1);
  margin-bottom: 9px;
}

.cell {
  padding: 5px;
}
