.dealName,
.dealTicker,
.dealProfit,
.dealProfitInPercent {
  padding: 5px;
}

.dealName {
  text-align: left;
  color: #000000;
  font-weight: 600;
}

.dealTicker {
  text-align: left;
  font-size: 14px;
  color: #1e2f29ca;
}

.dealProfit {
  text-align: right;
  font-weight: 600;
}

.dealProfitInPercent {
  text-align: right;
  font-size: 14px;
  color: #1e2f29ca;
}

.negativeProfit {
  color: rgb(217, 33, 33);
  text-shadow: 1px 1px 2px rgb(255, 205, 205);
}

.positiveProfit {
  color: rgb(0, 165, 80);
  text-shadow: 1px 1px 2px rgb(192, 255, 207);
}

.row {
  width: 95%;
  display: flex;
  justify-content: space-between;
}

.cell {
  padding: 5px;
}

.content {
  text-align: left;
  padding-top: 10px;
  padding-bottom: 7px;
}

.time {
  color: rgba(10, 8, 10, 0.544);
}

.arrow {
  text-align: right;
  width: 93%;
}
