.App {
  display: flex;
  align-items: flex-start;
}
.main-content {
  text-align: center;
  width: 80%;
  margin: 0 auto;
}

h1 {
  text-align: left;
  font-size: 2.2rem;
  margin-bottom: 40px;
  margin-top: 24px;
}

h3 {
  margin: 20px 0;
}
