.App {
  /* display: grid;
  grid-template-columns: 10% auto; */
}

.sidebar-expanded {
  display: grid;
  grid-template-columns: 10% auto;
}

.main-content {
  text-align: center;
  width: 80%;
  margin: 0 auto;
}
/* .btn-custom {
  border-radius: 2rem;
} */

h1 {
  text-align: left;
  font-size: 2.2rem;
  margin-bottom: 40px;
  margin-top: 24px;
}

h3 {
  margin: 20px 0;
}
